<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>Заголовок: {{ advertisement.title }}</li>
    <li>Цена: {{ advertisement.price }} руб.</li>
    <li>Описание: {{ advertisement.description }}</li>
    <li>Рубрика: {{ advertisement.rubric.title }}</li>
    <li>Тип: {{ advertisement.get_type_display }}</li>
    <li>Контакт: {{ advertisement.contact_info }}</li>
    <li>Кол-во просмотров: {{ advertisement.view_count }}</li>
</ul>
</body>
</html>