<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    {% for advertisement in advertisement_list %}
        <li>
            <a href="{% url 'advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}</a>
            | {{ advertisement.price }} руб. | {{ advertisement.rubric.title }}
        </li>
    {% endfor %}

</ul>

</body>
</html>